<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Enrollment Now Open!
            <br />
            Join Us
        </h2>
        <p>
            Gain an edge in public office: Build leadership skills, 
            gain hands-on experience, and learn from experts while 
            engaging with your community and expanding your professional network.
        </p>
        <a href="/contact" class="cs-button-solid">Apply Now</a>
    </div>
    <picture>
        <source
            media="(max-width: 600px)"
            srcset="/assets/images/cabinets2-m.jpg"
        />
        <source
            media="(min-width: 601px)"
            srcset="/assets/images/cabinets2.jpg"
        />
        <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/cabinets2.jpg"
            alt="kitchen cabinets"
            loading="lazy"
            width="2500"
            height="1667"
        />
    </picture>
</section>
