<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Enrollment Now Open!
        </h2>
        <p>
            Take the First Step Today—Your Future Awaits!
        </p>
        <!-- <a href="/contact" class="cs-button-solid">Apply Now</a> -->
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScCfZdgv3LlZMllhuZBjm7lM0TCObyZYAFny9S90d0StL0AOw/viewform?usp=header/" class="cs-button-solid">Apply Now</a>
        <a href="https://www.hindu-action.org/donate" class="cs-button-transparent">
                    <img
                        class="cs-img"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                        alt="play icon"
                        width="17"
                        height="17"
                    />
                    Donate
        </a>
        <!-- <a href="https://www.hindu-action.org/donate" class="cs-button-transparent">Donate</a> -->
    </div>
    <picture>
        <source
            media="(max-width: 600px)"
            srcset="/assets/images/landing.jpg"
        />
        <source
            media="(min-width: 601px)"
            srcset="/assets/images/landing.jpg"
        />
        <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/landing.jpg"
            alt="kitchen cabinets"
            loading="lazy"
            width="2500"
            height="1667"
        />
    </picture>
</section>
