---
title: "FAQs | American Hindu Pathfinders"
description: "Frequently Asked Questions"
preloadImg: "/assets/images/landing.png"
permalink: "faqs/"
eleventyNavigation:
    key: FAQs
    order: 550
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/faqs.css" />
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Frequently Asked Questions</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/landing.jpg"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/landing.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/landing.jpg"
                alt="kitchen cabinets"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

    <section id="faq-254">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">FAQ's</span>
                <h2 class="cs-title">Pathfinders Congressional Internship & Leadership Initiative</h2>
                <p class="cs-text">
                    Find answers about the application process, online and in-person training, 
                    and program details to help guide you through the process.
                </p>
            </div>
            <div class="cs-flex-group">
                <ul class="cs-faq-group">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item active">
                        <button class="cs-button">When will I know if I am selected for the program?</button>
                        <p class="cs-item-p">
                            Selections will be announced after the interview process is completed by the first week of December 2025. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">When does the Educational & Leadership Training begin?</button>
                        <p class="cs-item-p">
                            Training starts in second week of January 2026. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">How many hours of training will happen each week?</button>
                        <p class="cs-item-p">
                            Approximately 4 hours per week for 12 weekends, with some weeks requiring more. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">Is there a cost for the training and internship program?</button>
                        <p class="cs-item-p">
                            HinduACTion covers all costs for the Pathfinders program.</br>
                            However, contributions are appreciated. To make your tax exempted donations, please go to:
                        </br>
                        <a href="https://www.hindu-action.org/donate" class="cs-button-solid">Donate</a>

                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">Will there be in-person training?</button>
                        <p class="cs-item-p">
                            Yes, a 20-hour in-person training will be held in Washington D.C. in Winter 2026, for students 18 and older.
                            Students under 18 at the time of travel can complete the 20-hour training online from their respective locations. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">Does the leadership training guarantee an internship?</button>
                        <p class="cs-item-p">
                            HinduACTion facilitates placements with lawmakers, thinktanks, and other suitable avenues, but final selection is at their discretion. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">Are stipends provided during the internship?</button>
                        <p class="cs-item-p">
                            Yes:
                            Up to $1,500/month for Congressional interns.
                            Up to $500/month for State interns.
                            (Stipends are provided upon successful completion of the training.) 
                        </p>
                    </li>
                </ul>
                <div class="cs-cta">
                    <h3 class="cs-h3">Don't see the answer you need?</h3>
                    <p class="cs-cta-p">
                        That’s ok. Just drop a message and we will get back to you ASAP.
                    </p>
                    <a href="/contact" class="cs-button-solid">Contact us</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}