---
title: "American Hindu Pathfinders"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script
        defer
        src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <script defer>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", (user) => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->
    
    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper cs-special-header">Hindu Action</span>
                <h1 class="cs-title">Pathfinders Congressional Internship & Leadership Initiative</h1>
                <p class="cs-text">
                    Step into Public Office:
                    Present a unique civilizational paradigm, develop leadership skills, and gain hands-on experience in policymaking and governance.
                </p>
                <!-- <a href="/about" class="cs-button-solid">Apply Now</a> -->
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScCfZdgv3LlZMllhuZBjm7lM0TCObyZYAFny9S90d0StL0AOw/viewform?usp=header/" class="cs-button-solid">Apply Now</a>
                <a href="/contact" class="cs-button-transparent">
                    <img
                        class="cs-img"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                        alt="play icon"
                        width="17"
                        height="17"
                    />
                    Get in Touch
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/landing.jpg"
            />
            <!-- <source
                media="(min-width: 601px)"
                srcset="/assets/images/landing.jpg"
            /> -->
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/landing.jpg"
            />
            <!-- <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/landing.jpg"
                alt="new home"
                width="2500"
                height="1667"
                loading="eager"
            /> -->
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/landing.jpg"
                alt="new home"
                width="2500"
                height="1667"
                loading="eager"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                <img
                    aria-hidden="true"
                    decoding="async"
                    src="/assets/svgs/service1.svg"
                    alt="appliance"
                    width="48"
                    height="48"
                />
            </picture>
            <h2>4000+</h2>
            <p>
                Interns from around the country
                serve in the US Congress.
            </p>
        </div>
        <div class="card">
            <picture>
                <img
                    aria-hidden="true"
                    decoding="async"
                    src="/assets/svgs/service2.svg"
                    alt="appliance"
                    width="48"
                    height="48"
                />
            </picture>
            <h2>$24M</h2>
            <p>
                U.S. House of Representative budget for paid
                interns as of 2025.
            </p>
        </div>
        <div class="card">
            <picture>
                <img
                    aria-hidden="true"
                    decoding="async"
                    src="/assets/svgs/service3.svg"
                    alt="appliance"
                    width="48"
                    height="48"
                />
            </picture>
            <h2>50%</h2>
            <p>
                More than half full-time Congressional
                staff are former interns.
            </p>
        </div>
    </section>

        <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

        <section id="about">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/Pathfinders_flyer.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/Pathfinders_flyer.png">
                <img loading="lazy" decoding="async" src="/assets/images/Pathfinders_flyer.png" alt="models" width="586" height="690">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Pathfinders Internship and Leadership Initiative</h2>
                <p class="cs-text">
                    <b>by HINDUACTion</b>
                </p>
                <p class="cs-text">
                    HINDUACTion is looking for energetic and outgoing American Hindu High School or 
                    College students. We offer two distinct internship opportunities for students to 
                    learn about and present a unique civilizational paradigm, develop leadership skills 
                    and gain hands-on public policy experience at both the State and Federal levels.
                </p>
                <p class="cs-text">
                    These programs provide a chance to make meaningful impact while equipping 
                    participants with the educational tools, leadership experience, and valuable networks 
                    to excel in public service or any leadership role.
                </p>
                <p class="cs-text">
                    After participating in the leadership initiatives, College students may have the opportunity 
                    to intern with Congressional Representatives. High School students may be able to intern with 
                    their State or Local Representatives.
                </p>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">01</span>
                            <h3 class="cs-h3">
                                PATHFINDERS American Hindu Congressional Internship
                            </h3>
                        </div>
                        <p class="cs-item-text">
                            Open to Undergraduates and Graduate students of any major (18+)
                        </p>
                    </li>
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">02</span>
                            <h3 class="cs-h3">
                                PATHFINDERS American Hindu State Internship
                            </h3>
                        </div>
                        <p class="cs-item-text">
                            Open to High School and Undergraduate students (16+)
                        </p>
                    </li>
                    
                </ul>
                <!-- <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        PATHFINDERS American Hindu Congressional Internship: Open to undergraduates, and graduate students of any major.
                        PATHFINDERS American Hindu State Internship: Open to high school students
                    </p>
                    <span class="cs-name">Justin Time</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img
                        class="cs-quote-icon"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                        alt="gavel"
                        width="136"
                        height="77"
                    />
                </div> -->
                <!-- <a href="/about" class="cs-button-solid">More About Us</a> -->
                <a href="https://www.hindu-action.org/" class="cs-button-solid">More About Us</a>
                <a href="/faqs" class="cs-button-solid">FAQS</a>
                <!-- <ul class="cs-card-group">
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">01</span>
                            <h3 class="cs-h3">
                                Member Discount
                            </h3>
                        </div>
                        <p class="cs-item-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises.
                        </p>
                    </li>
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">02</span>
                            <h3 class="cs-h3">
                                Safe Payment
                            </h3>
                        </div>
                        <p class="cs-item-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises.
                        </p>
                    </li>
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">03</span>
                            <h3 class="cs-h3">
                                Shop with Confidence
                            </h3>
                        </div>
                        <p class="cs-item-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises.
                        </p>
                    </li>
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">04</span>
                            <h3 class="cs-h3">
                                Money Return
                            </h3>
                        </div>
                        <p class="cs-item-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises.
                        </p>
                    </li>
                </ul>
                <a href="" class="cs-button-solid">View All Collections</a> -->
            </div>
        </div>
    </section>
                         

    
    <!-- <section id="sbs">
        <div class="cs-container"> -->
            <!-- Left Image Section -->
            <!-- <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/cabinets2-m.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/cabinets2.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/cabinets2.jpg"
                        alt="cabinets"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/construction-m.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/construction.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/construction.jpg"
                        alt="house"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
            </div> -->
            <!-- Right Content Section-->
            <!-- <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Company Title</h2>
                <p class="cs-text">
                    This will be great.
                </p>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent
                    Class officelan nonatoureanor mauris laoreet, iaculis libero
                    quis. Curabitur et tempus eri consequat tincidunt turpis sit
                    amet imperdiet. Praesent nonatourean olei aptent taciti
                    sociosqu ad litora torquent per.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        In consequat tincidunt turpis sit amet imperdiet.
                        Praesent Classei consequat tincidunt turpis sit amet
                        imperdiet for mind.
                    </p>
                    <span class="cs-name">Justin Time</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img
                        class="cs-quote-icon"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                        alt="gavel"
                        width="136"
                        height="77"
                    />
                </div>
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section> -->

    <!-- ============================================ -->
    <!--                 Why Choose                   -->
    <!-- ============================================ -->
    
    <section id="features">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Program Highlights</span>
                    <h2 class="cs-title">Why Choose Pathfinders</h2>
                </div>
                <p class="cs-text">
                    Shape the future of the world!
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/education.svg" alt="icon" width="48" height="48">
                    <h3 class="cs-h3">Unique effort in Education</h3>
                    <p class="cs-item-text">
                        In partnership with Hindu University of America (HUA) and prominent scholars, situate the development of Hindu thought in its historical as well as socio-political 
                        context & contrast them with some of the axiomatic ideas originating from other 
                        religions & ideologies.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/leadership.svg" alt="icon" width="40" height="48">
                    <h3 class="cs-h3">Leadership Training</h3>
                    <p class="cs-item-text">
                        Learn different aspects of media, public policy making & their implementation 
                        from subject matter experts & policy makers.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/networking.svg" alt="icon" width="48" height="48">
                    <h3 class="cs-h3">Networking</h3>
                    <p class="cs-item-text">
                        Exclusive networking opportunities with influential thought leaders 
                        & policy makers in Washington D.C.
                    </p>
                </li>
            </ul>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/internship.svg" alt="icon" width="48" height="48">
                    <h3 class="cs-h3">Placement support</h3>
                    <p class="cs-item-text">
                        Ongoing support for internship placement after successful completion of free 
                        educational & leadership training.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/money.svg" alt="icon" width="40" height="48">
                    <h3 class="cs-h3">Stipend</h3>
                    <p class="cs-item-text">
                        Earn a generous stipend from HINDUACTion during the internship. 
                        Earn up to $4000 from HINDUACTion on top of your Congressional stipend.*
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/trip.svg" alt="icon" width="48" height="48">
                    <h3 class="cs-h3">Immersion Program in Washington D.C.</h3>
                    <p class="cs-item-text">
                        Take a fully paid trip to Washington D.C., and meet and learn from elected officials.
                        Attend 20 hours of in-person training during winter 2026 for students 18 and older.
                        Students under 18 at the time of travel have the option to join the 20-hour training online from their respective locations. 
                    </p>
                </li>
            </ul>
        </div>
    </section>
                                
    <!-- ============================================ -->
    <!--                  Side By Side                -->
    <!-- ============================================ -->
    
    <section id="eligibility">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/capitolhill2.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/capitolhill2.png">
                <img loading="lazy" decoding="async" src="/assets/images/capitolhill2.png" alt="models" width="586" height="690">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Eligibility</span>
                <h2 class="cs-title">Pathfinders American Hindu Congressional Internship</h2>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">01</span>
                            <h3 class="cs-h3">
                                Enrolled in University
                            </h3>
                        </div>
                        <p class="cs-item-text">
                            Enrolled at an accredited university or college in the U.S. or graduated within the last year, with GPA > 3.0.
                        </p>
                    </li>
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">02</span>
                            <h3 class="cs-h3">
                                Interest
                            </h3>
                        </div>
                        <p class="cs-item-text">
                            A demonstrated interest in politics, governance, history of Hindu civilization & related fields.
                        </p>
                    </li>
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">03</span>
                            <h3 class="cs-h3">
                                Attend Training
                            </h3>
                        </div>
                        <p class="cs-item-text">
                            Attend a 50-hour training program: 25 hours of educational and 
                            25 hours of leadership training. Internship assistance to be
                            provided after the successful completion of the program.
                        </p>
                    </li>
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">04</span>
                            <h3 class="cs-h3">
                                Adhere to policies
                            </h3>
                        </div>
                        <p class="cs-item-text">
                            HinduACTion Pathfinders Program Policies and Code of Conduct To Be Signed at the Time of Onboarding.
                        </p>
                    </li>
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">05</span>
                            <h3 class="cs-h3">
                                U.S. Citizen
                            </h3>
                        </div>
                        <p class="cs-item-text">
                            Must be a U.S. citizen or Permanent Resident and over 18 years old.
                        </p>
                    </li>
                    <!-- <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">06</span>
                            <h3 class="cs-h3">
                                US Citizen
                            </h3>
                        </div>
                        <p class="cs-item-text">
                            Must be a U.S. citizen or permanent resident.
                        </p>
                    </li> -->
                </ul>
                <!-- <a href="" class="cs-button-solid">View All Collections</a> -->
            </div>
        </div>
    </section>
    
    <!-- ============================================ -->
    <!--              Side By Side Reverse            -->
    <!-- ============================================ -->
    
    <section id="RPsbsr-1587">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/capitolhill.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/capitolhill.png">
                <img loading="lazy" decoding="async" src="/assets/images/capitolhill.png" alt="models" width="586" height="690">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Eligibility</span>
                <h2 class="cs-title">Pathfinders American Hindu State Internship</h2>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">01</span>
                            <h3 class="cs-h3">
                                Enrolled in school
                            </h3>
                        </div>
                        <p class="cs-item-text">
                            Enrolled in High School in the U.S.
                        </p>
                    </li>
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">02</span>
                            <h3 class="cs-h3">
                                Attend Training
                            </h3>
                        </div>
                        <p class="cs-item-text">
                            Attend a 50-hour training program: 25 hours of educational and 
                            25 hours of leadership training. Internship assistance to be
                            provided after the successful completion of the program.
                        </p>
                    </li>
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">03</span>
                            <h3 class="cs-h3">
                                Adhere to policies
                            </h3>
                        </div>
                        <p class="cs-item-text">
                            HinduACTion Pathfinders Program Policies and Code of Conduct To Be Signed at the Time of Onboarding.
                        </p>
                    </li>
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">04</span>
                            <h3 class="cs-h3">
                                U.S. Citizen
                            </h3>
                        </div>
                        <p class="cs-item-text">
                            Must be a U.S. citizen or Permanent Resident and over 16 years old.
                        </p>
                    </li>
                    <!-- <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">05</span>
                            <h3 class="cs-h3">
                                US Citizen
                            </h3>
                        </div>
                        <p class="cs-item-text">
                            Must be a U.S. citizen or permanent resident above the age of 16 years.
                        </p>
                    </li> -->
                </ul>
                <!-- <a href="" class="cs-button-solid">View All Collections</a> -->
            </div>
        </div>
    </section>
                                

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <!-- <section id="sbs-r">
        <div class="cs-container"> -->
            <!-- Left Image Section -->
            <!-- <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/construction-m.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/construction.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/construction.jpg"
                        alt="house"
                        loading="lazy"
                        width="400"
                        height="560"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/cabinets2-m.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/cabinets2.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/cabinets2.jpg"
                        alt="cabinets"
                        loading="lazy"
                        width="400"
                        height="560"
                    />
                </picture>
            </div> -->
            <!-- Right Content Section-->
            <!-- <div class="cs-right">
                <span class="cs-topper">SEO Ranking</span>
                <h2 class="cs-title">Talk about a main service keyword</h2>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent
                    Class officelan nonatoureanor mauris laoreet, iaculis libero
                    quis. Curabitur et tempus eri consequat tincidunt turpis sit
                    amet imperdiet. Praesent nonatourean olei aptent taciti
                    sociosqu ad litora torquent per.
                </p>
                <p class="cs-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Non tenetur, iure nihil ipsam qui atque commodi id
                    voluptatem nesciunt, quis animi fuga cum doloribus! Eaque
                    laboriosam, unde consectetur iure asperiores ullam.
                    Consequuntur debitis a voluptatibus vitae optio autem
                    explicabo quia neque est quas, in placeat. Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Doloribus modi
                    laudantium voluptatibus rem libero error minus quia eligendi
                    sapiente eos.
                </p>
                <a href="/blog" class="cs-button-solid">Read our Blog</a>
            </div>
        </div>
    </section> -->

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <!-- <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">
                Et orci volutpat, back up generator installations
            </h2>
            <div class="cs-image-group"> -->
                <!-- Row 1-->
                <!-- <div class="cs-row cs-row-1"> -->
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <!-- <picture class="cs-picture cs-picture1">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port1-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port1.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port1.jpg"
                            alt="new hallway"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port4-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port4.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port4.jpg"
                            alt="new home construction"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port7-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port7.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port7.jpg"
                            alt="building a new wall"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                </div> -->
                <!-- Row 2 -->
                <!-- <div class="cs-row cs-row-2"> -->
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <!-- <picture class="cs-picture cs-picture1">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port2-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port2.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port2.jpg"
                            alt="new kitchen"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port5-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port5.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port5.jpg"
                            alt="apartment addition"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port8-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port8.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port8.jpg"
                            alt="kew kitchen cabinets"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                </div> -->
                <!-- Row 3 -->
                <!-- <div class="cs-row cs-row-3"> -->
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <!-- <picture class="cs-picture cs-picture1">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port3-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port3.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port3.jpg"
                            alt="new kitchen"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port6-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port6.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port6.jpg"
                            alt="apartment addition"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port9-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port9.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port9.jpg"
                            alt="kew kitchen cabinets"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                </div>
            </div>
            <a href="/projects" class="cs-button-solid">View Full Gallery</a>
        </div>
    </section> -->

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <!-- <section id="testimonials">
        <div class="cs-container">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Message from Our Educators and Leaders</h2>
            <p class="cs-text">
                Read -->
                <!-- inspiring testimonials from students who have completed the course
                and internship, sharing their experiences and the impact the program
                has had on their careers, as well as  -->
                <!-- insights from industry experts
                and leaders who have guided the students throughout the journey. -->
            <!-- </p>
            <ul class="cs-card-group"> -->
                <!-- Review 1 -->
                <!-- <li class="cs-item">
                    <img
                        class="cs-item-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/NirajA.jpeg"
                        alt="profile picture"
                        width="80"
                        height="80"
                    />
                    <p class="cs-item-p">
                        I am honored to help shape and empower the next generation of leaders in our community.
                    </p>
                    <span class="cs-reviewer">
                        Niraj Antani
                        <span class="cs-desc">Former Ohio State Senator</span>
                    </span> 
                    <img
                        class="cs-item-stars"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                        alt="stars"
                        width="96"
                        height="16"
                    />
                </li> -->
                <!-- Review 2 -->
                <!-- <li class="cs-item">
                    <img
                        class="cs-item-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/ShriT.jpeg"
                        alt="profile picture"
                        width="80"
                        height="80"
                    />
                    <p class="cs-item-p">
                        Watching these future leaders gain valuable hands-on experience, refine their 
                        leadership abilities, and apply real-world problem-solving skills has been truly inspiring.
                    </p>
                    <span class="cs-reviewer">
                        Shri Thanedar 
                        <span class="cs-desc">U.S. Congressman, Michigan</span>
                    </span>
                    <img
                        class="cs-item-stars"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                        alt="stars"
                        width="96"
                        height="16"
                    />
                </li>
            </ul>
                        <ul class="cs-card-group"> -->
                <!-- Review 3 -->
                <!-- <li class="cs-item">
                    <img
                        class="cs-item-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/UtsavC.jpg"
                        alt="profile picture"
                        width="80"
                        height="80"
                    />
                    <p class="cs-item-p">
                        I am honored to help shape and empower the next generation of leaders in our community.
                    </p>
                    <span class="cs-reviewer">
                        Utsav Chakrabarti
                        <span class="cs-desc">Executive Director, HINDUACTion</span>
                    </span>
                    <img
                        class="cs-item-stars"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                        alt="stars"
                        width="96"
                        height="16"
                    />
                </li> -->
                <!-- Review 4 -->
            <!-- </ul>
            <a
                aria-label="read more reviews"
                href="/reviews"
                class="cs-button-solid"
                >Our Reviews</a
            >
        </div>
    </section> -->

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-62">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">Voices of the Future</h2>
                <p class="cs-text">
                    Real stories. Real growth. Hear how the Pathfinders experience shaped our next generation of leaders
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/ShylaH.jpeg" alt="profile" width="68" height="68">
                    <span class="cs-name">Shyla H.</span>
                    <span class="cs-desc">State</span>
                    <p class="cs-item-text">
                        I’m deeply grateful to the Pathfinders program — not only for expanding my understanding of politics and the world, but also for helping me reconnect with my own culture. From the moment I applied to the day I began my internship, I've felt fully supported by a community that understands and uplifts me. Knowing I can always turn to HinduACTion for guidance means the world to me. This opportunity has truly been life-changing, and I'll always be thankful to the entire HinduACTion team for believing in me and making it possible.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/MinalC.jpeg" alt="profile" width="68" height="68">
                    <span class="cs-name">Minal C.</span>
                    <span class="cs-desc">Congressional</span>
                    <p class="cs-item-text">
                        What stood out most about Pathfinders was the interview — it focused on my values, not just academics, which made it feel deeply personal. I felt challenged and seen in the best way. From the learning sessions to the DC trip with HinduACTion, the entire experience empowered me as a young Hindu in public service. I connected with like-minded peers, explored new ideas, and gained tools I now use every day in my internship.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/RoshanK.jpeg" alt="profile" width="68" height="68">
                    <span class="cs-name">Roshan K.</span>
                    <span class="cs-desc">State</span>
                    <p class="cs-item-text">
                        My name is Roshan, and I was a 2025 Pathfinders Intern with HinduACTion. The 10-12 week training gave me meaningful insights into Hinduism, Indian culture, history, and American politics. I chose to intern directly with the HinduACTion team on the backend, working 15-20 hours a week — and I've enjoyed every minute. One of the most valuable lessons I've learned is persistence — each challenge has pushed me to think creatively, adapt quickly, and keep moving forward with confidence.                    </p>
                </li>
            </ul>
            <!-- <a aria-label="read more reviews" href="" class="cs-button-solid">Read More</a> -->
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
